<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="products.html">Products</a></li>
  <li><a href="new_customer.html">New_Customer</a></li>
  <li style="float: right"><a class="active" href="login.html">Login</a></li>
  <link rel="stylesheet" href="..\style.css" />
  <link rel="stylesheet" href="..\homestyle.css" />
</ul>

<body>

  <div class="bgImage">
    <div class="overlay"></div>
    <div class="content">
      <H1>Exiting Daily deals</H1>

      <div>
        <button class="explore" onclick="location.href='products.html'">Explore Now</button>
      </div>
    </div>
  </div>

  <div class=" button">

    <button class="btn" onclick="location.href='laptops.html'">
      Laptops
    </button>
    <br /><br />
    <button class="btn" onclick="location.href='modems.html'">
      Modems
    </button>
    <br /><br />
    <button class="btn" onclick="location.href='monitors.html'">
      Monitors
    </button>
    <br /><br />
    <button class="btn" onclick="location.href='tablets.html'">
      Tablets
    </button>
    <br /><br />
    <button class="btn" onclick="location.href='software.html'">
      Software
    </button>
    <br /><br />
    <button class="btn" onclick="location.href='projectors.html'">
      Projectors
    </button>

  </div>

  <div class="content-a">
    <div class="Kiddies-corner">
      <h2 style="color: rgb(175, 92, 61);">Kiddies Corner</h2>
      <h4 style="color: azure;"></h4>

      <div class="cocomelon">
        <video controls
          src="..\images\videos\Humpty Dumpty Grocery Store _ CoComelon Nursery Rhymes & Kids Songs.mp4">Coco</video>
      </div>
    </div>
  </div>

  <div class="online-exclusive">
    <div class="online-deals">
      <h3 style="color: azure;">FIND SOME OF OUR AMAZING DEALS!</h3>

      <div class="exclusive">
        <div>
          <img src="..\images\tablets\Default-Product-Default-WF-null (19).jfif" onclick="location.href='specials.html'"
            style="cursor: pointer">
        </div>
        <div>
          <img src="..\images\laptops\th (3).jpg" onclick="location.href='specials.html'" style="cursor: pointer">
        </div>
        <div>
          <img src="..\images\projectors\Default-Product-Default-WF-null (31).jpg"
            onclick="location.href='specials.html'" style="cursor: pointer">
        </div>
      </div>
    </div>
  </div>
  <div></div>

  </div>

  <footer>
    <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>
  </footer>
</body>

</html>