<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>laptops</title>

</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="new_customer.html">New_Customer</a></li>
    <li style="float: right"><a class="active" href="login.html">Login</a></li>
    <link rel="stylesheet" href="..\style.css" />
    <link rel="stylesheet" href="..\monitors.css" />
</ul>

<body>
    <div class="container">
        <div class="card">
            <img src="..\images\laptops\th (4).jpg" alt="">
            <div class="intro">
                <h1>ASUS</h1>
                <p>The <span>Asus laptop</span> slick design with 16G RAM, NVIDIA graphics with 16G onboad RAM </p>
            </div>
        </div>
        <div class="card">
            <a href="description.html"><img src="..\images\laptops\th (5).jpg"></a>
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer Laptop</span> with Intel i3 Core Processor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th (6).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer Laptop</span> with Intel i5 Core Processor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th.jpg">
            <div class="intro">
                <h1>LENOVO</h1>
                <p>The <span>Lenovo Laptop</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\laptops\Default-Product-Default-WF-null.jpg" alt="">
            <div class="intro">
                <h1>HP</h1>
                <p>The <span>HP laptop</span> with Intel Core i5 processor 1TB HDD 8G RAM </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th (1).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer Laptop</span> with Intel i3 Core Processor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th (2).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer Laptop</span> with Intel i5 Core Processor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th (3).jpg">
            <div class="intro">
                <h1>HP</h1>
                <p>The <span>HP Laptop</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\laptops\th (4).jpg" alt="">
            <div class="intro">
                <h1>ASUS</h1>
                <p>The <span>Asus laptop</span> slick design with 16G RAM, NVIDIA graphics with 16G onboad RAM </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th (5).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer Laptop</span> with Intel i3 Core Processor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th (6).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer Laptop</span> with Intel i5 Core Processor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\laptops\th.jpg">
            <div class="intro">
                <h1>LENOVO</h1>
                <p>The <span>Lenovo Laptop</p>
            </div>
        </div>
    </div>

    <div class="grid-container-left">
        <style>
            .btn {
                border-radius: 10px;
                background-color: rgb(99, 182, 188);
                padding: 10px 15px;
                font-weight: bold;
                color: #fff;
                border: none;
                top: 50%;
                left: 50%;
                font-size: 20px;
                outline: none;
            }
        </style>
        <button class="btn" onclick="location.href='products.html'">
            Back
        </button>


        <footer>

            <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

        </footer>

</body>

</html>