<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modems</title>

</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="new_customer.html">New_Customer</a></li>
    <li style="float: right"><a class="active" href="login.html">Login</a></li>
    <link rel="stylesheet" href="..\style.css" />
    <link rel="stylesheet" href="..\monitors.css" />
</ul>

<body>
    <div class="container">
        <div class="card">
            <img src="..\images\modems\Default-Product-Default-WF-null (23).jpg" alt="">
            <div class="intro">
                <h1>TP Link</h1>
                <p>The <span>TP Link Modem</span> with 4 antennas</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\modems\Default-Product-Default-WF-null (26).jpg">
            <div class="intro">
                <h1>Tenda</h1>
                <p>The <span>Tenda</span>with dual antennas</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\modems\Default-Product-Default-WF-null (25).jpg">
            <div class="intro">
                <h1>TP Link</h1>
                <p>The <span>TP Link</span>4 antenna modem egonomic black design</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\modems\Default-Product-Default-WF-null (24).jpg">
            <div class="intro">
                <h1>TP Link</h1>
                <p>The <span>White design</span> TP Link modem 500Mbps speed</p>
            </div>
        </div>
    </div>

    <body>
        <div class="container">
            <div class="card">
                <img src="..\images\modems\Default-Product-Default-WF-null (23).jpg" alt="">
                <div class="intro">
                    <h1>TP Link</h1>
                    <p>The <span>TP Link Modem</span> with 4 antennas</p>
                </div>
            </div>
            <div class="card">
                <img src="..\images\modems\Default-Product-Default-WF-null (26).jpg">
                <div class="intro">
                    <h1>Tenda</h1>
                    <p>The <span>Tenda</span>with dual antennas</p>
                </div>
            </div>
            <div class="card">
                <img src="..\images\modems\Default-Product-Default-WF-null (25).jpg">
                <div class="intro">
                    <h1>TP Link</h1>
                    <p>The <span>TP Link</span>4 antenna modem egonomic black design</p>
                </div>
            </div>
            <div class="card">
                <img src="..\images\modems\Default-Product-Default-WF-null (24).jpg">
                <div class="intro">
                    <h1>TP Link</h1>
                    <p>The <span>White design</span> TP Link modem 500Mbps speed</p>
                </div>
            </div>
        </div>

        <body>
            <div class="container">
                <div class="card">
                    <img src="..\images\modems\Default-Product-Default-WF-null (23).jpg" alt="">
                    <div class="intro">
                        <h1>TP Link</h1>
                        <p>The <span>TP Link Modem</span> with 4 antennas</p>
                    </div>
                </div>
                <div class="card">
                    <img src="..\images\modems\Default-Product-Default-WF-null (26).jpg">
                    <div class="intro">
                        <h1>Tenda</h1>
                        <p>The <span>Tenda</span>with dual antennas</p>
                    </div>
                </div>
                <div class="card">
                    <img src="..\images\modems\Default-Product-Default-WF-null (25).jpg">
                    <div class="intro">
                        <h1>TP Link</h1>
                        <p>The <span>TP Link</span>4 antenna modem egonomic black design</p>
                    </div>
                </div>
                <div class="card">
                    <img src="..\images\modems\Default-Product-Default-WF-null (24).jpg">
                    <div class="intro">
                        <h1>TP Link</h1>
                        <p>The <span>White design</span> TP Link modem 500Mbps speed</p>
                    </div>
                </div>
            </div>

            <footer>

                <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

            </footer>

        </body>

</html>