<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitors</title>

</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="new_customer.html">New_Customer</a></li>
    <li style="float: right"><a class="active" href="login.html">Login</a></li>
    <link rel="stylesheet" href="..\style.css" />
    <link rel="stylesheet" href="..\monitors.css" />
</ul>

<body>
    <div class="container">
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (15).jpg" alt="HP Monitor">
            <div class="intro">
                <h1>Samsung Curved</h1>
                <p>The <span>Samsung Curved Monitor</span>is a fast beatiful display with full range of colours,21'
                    monitor</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (20).jpg">
            <div class="intro">
                <h1>Odyssey G3</h1>
                <p>The <span>Odyssey G3 Monitor</span>is a fast beatiful display with full range of colours,21' monitor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (21).jpg">
            <div class="intro">
                <h1>Samsung Creative Design</h1>
                <p>The <span>Samsung Creative Design Monitor</span>is a fast beatiful display with full range of
                    colours,21' monitor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (22).jpg">
            <div class="intro">
                <h1>Samsung LED</h1>
                <p>The <span>Samsung LED Monitor</span>is a fast beatiful display with full range of
                    colours,21' monitor</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (15).jpg" alt="HP Monitor">
            <div class="intro">
                <h1>Samsung Curved</h1>
                <p>The <span>Samsung Curved Monitor</span>is a fast beatiful display with full range of colours,21'
                    monitor</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (20).jpg">
            <div class="intro">
                <h1>Odyssey G3</h1>
                <p>The <span>Odyssey G3 Monitor</span>is a fast beatiful display with full range of colours,21' monitor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (21).jpg">
            <div class="intro">
                <h1>Samsung Creative Design</h1>
                <p>The <span>Samsung Creative Design Monitor</span>is a fast beatiful display with full range of
                    colours,21' monitor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (22).jpg">
            <div class="intro">
                <h1>Samsung LED</h1>
                <p>The <span>Samsung LED Monitor</span>is a fast beatiful display with full range of
                    colours,21' monitor</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (15).jpg" alt="HP Monitor">
            <div class="intro">
                <h1>Samsung Curved</h1>
                <p>The <span>Samsung Curved Monitor</span>is a fast beatiful display with full range of colours,21'
                    monitor</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (20).jpg">
            <div class="intro">
                <h1>Odyssey G3</h1>
                <p>The <span>Odyssey G3 Monitor</span>is a fast beatiful display with full range of colours,21' monitor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (21).jpg">
            <div class="intro">
                <h1>Samsung Creative Design</h1>
                <p>The <span>Samsung Creative Design Monitor</span>is a fast beatiful display with full range of
                    colours,21' monitor
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\monitors\Default-Product-Default-WF-null (22).jpg">
            <div class="intro">
                <h1>Samsung LED</h1>
                <p>The <span>Samsung LED Monitor</span>is a fast beatiful display with full range of
                    colours,21' monitor</p>
            </div>
        </div>
    </div>


    <footer>
        <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>
    </footer>


</body>

</html>