<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Products</title>
</head>
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="products.html">Products</a></li>
  <li><a href="new_customer.html">New_Customer</a></li>
  <li style="float: right"><a class="active" href="login.html">Login</a></li>
  <link rel="stylesheet" href="..\style.css" />
  <link rel="stylesheet" href="..\products.css" />
</ul>

<b<div class="images-container" id="product-container">
  <div class="laptops">
    <a href="description.html"><img src="..\images\laptops\th (1).jpg"></a>
    <a href="description.html"><img src="..\images\laptops\th (2).jpg"></a>
    <a href="laptops.html"><img src="..\images\laptops\th (3).jpg" /></a>
    <a href="laptops.html"><img src="..\images\laptops\th (4).jpg" /></a>
  </div>

  <div>
    <a href="laptops.html"><img src="..\images\laptops\th (5).jpg" /></a>
    <a href="laptops.html"><img src="..\images\laptops\th (6).jpg" /></a>
    <a href="laptops.html"><img src="..\images\laptops\th.jpg" /></a>
    <a href="modems.html"><img src="..\images\modems\Default-Product-Default-WF-null (22).jpg" /></a>
  </div>

  <div>
    <a href="modems.html"><img src="..\images\modems\Default-Product-Default-WF-null (23).jpg" /></a>
    <a href="modems.html"><img src="..\images\modems\Default-Product-Default-WF-null (24).jpg" /></a>
    <a href="modems.html"><img src="..\images\modems\Default-Product-Default-WF-null (25).jpg" /></a>
    <a href="modems.html"><img src="..\images\modems\Default-Product-Default-WF-null (26).jpg" /></a>

  </div>

  <div>
    <a href="modems.html"><img src="..\images\modems\Default-Product-Default-WF-null (27).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (28).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (29).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (30).jpg" /></a>

  </div>

  <div>
    <a href="projectors.html"><img src="../images/projectors/Default-Product-Default-WF-null (31).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (32).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (33).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (34).jpg" /></a>

  </div>

  <div>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (35).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (36).jpg" /></a>
    <a href="projectors.html"><img src="..\images\projectors\Default-Product-Default-WF-null (28).jpg" /></a>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (15).jpg"></a>
  </div>

  <div>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (20).jpg"></a>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (21).jpg"></a>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (22).jpg"></a>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (23).jpg"></a>
  </div>

  <div>
    <a href="monitors.html"><img src="../images/monitors/Default-Product-Default-WF-null (24).jpg"></a>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (25).jpg"></a>
    <a href="monitors.html"><img src="..\images\monitors\Default-Product-Default-WF-null (26).jpg"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (13).jfif"></a>
  </div>

  <div>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (14).jfif"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (15).jfif"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (16).jfif"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (17).jfif"></a>
  </div>

  <div>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (18).jfif"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (19).jfif"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (20).jfif"></a>
    <a href="tablets.html"><img src="..\images\tablets\Default-Product-Default-WF-null (21).jfif"></a>
  </div>

  <div>
    <a href="tablets.html"><img src="..\images\tablets\media-000000000000808394-1-Default-WF-Default-Product.jfif"></a>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (6).jfif"></a>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (7).jfif"></a>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (8).jfif"></a>
  </div>

  <div>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (9).jfif"></a>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (10).jfif"></a>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (11).jfif"></a>
    <a href="software.html"><img src="..\images\software\Default-Product-Default-WF-null (12).jfif"></a>
  </div>
  <div>
    <a href="software.html"><img src="..\images\software\media1.jfif"></a>
    <a href="software.html"><img src="..\images\software\media2.jfif"></a>
    <a href="software.html"><img src="..\images\software\media3.jfif"></a>
  </div>
  <script src="products.js"></script>
  <footer>

    <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

  </footer>
  </body>

</html>