<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projectors</title>

</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="new_customer.html">New_Customer</a></li>
    <li style="float: right"><a class="active" href="login.html">Login</a></li>
    <link rel="stylesheet" href="..\style.css" />
    <link rel="stylesheet" href="..\monitors.css" />
</ul>

<body>
    <div class="container">
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (32).jpg" alt="">
            <div class="intro">
                <h1>ULTRA-LINK</h1>
                <p>The <span>ULTRA-LINK</span> White slick design Projector
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (28).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer</span> Portable small design projector</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (29).jpg">
            <div class="intro">
                <h1>EPSON</h1>
                <p>The <span>EPSON</span> projector</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (30).jpg">
            <div class="intro">
                <h1>ULTRA-LINK</h1>
                <p>The <span>ULTRA-LINK</span> Small design black projector</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (32).jpg" alt="">
            <div class="intro">
                <h1>ULTRA-LINK</h1>
                <p>The <span>ULTRA-LINK</span> White slick design Projector
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (28).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer</span> Portable small design projector</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (29).jpg">
            <div class="intro">
                <h1>EPSON</h1>
                <p>The <span>EPSON</span> projector</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (30).jpg">
            <div class="intro">
                <h1>ULTRA-LINK</h1>
                <p>The <span>ULTRA-LINK</span> Small design black projector</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (32).jpg" alt="">
            <div class="intro">
                <h1>ULTRA-LINK</h1>
                <p>The <span>ULTRA-LINK</span> White slick design Projector
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (28).jpg">
            <div class="intro">
                <h1>ACER</h1>
                <p>The <span>Acer</span> Portable small design projector</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (29).jpg">
            <div class="intro">
                <h1>EPSON</h1>
                <p>The <span>EPSON</span> projector</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\projectors\Default-Product-Default-WF-null (30).jpg">
            <div class="intro">
                <h1>ULTRA-LINK</h1>
                <p>The <span>ULTRA-LINK</span> Small design black projector</p>
            </div>
        </div>
    </div>
    <footer>

        <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

    </footer>

</body>

</html>