<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signin</title>
</head>
<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="products.html">Products</a></li>
  <li><a href="new_customer.html">New_Customer</a></li>
  <li style="float:right"><a class="active" href="login.html">Login</a></li>
  <link rel="stylesheet" href="..\style.css">
</ul>

<body>


  <footer>

    <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

  </footer>

</body>

</html>