<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software</title>

</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="new_customer.html">New_Customer</a></li>
    <li style="float: right"><a class="active" href="login.html">Login</a></li>
    <link rel="stylesheet" href="..\style.css" />
    <link rel="stylesheet" href="..\monitors.css" />
</ul>

<body>
    <div class="container">
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (6).jfif" alt="">
            <div class="intro">
                <h1>MICROSOFT 365</h1>
                <p>The <span>Microsoft 365 family</span> 1 to 6 people 12 month subscription</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (7).jfif">
            <div class="intro">
                <h1>MICROSOFT HOME AND BUSINESS</h1>
                <p>The <span>Microsoft Home and Business</span> for 1PC/Mac 2021 </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (8).jfif">
            <div class="intro">
                <h1>MICROSOFT 365 PERSONAL</h1>
                <p>The <span>Microsoft 365 Personal</span> 1 Person 12 month subscription </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (9).jfif">
            <div class="intro">
                <h1>MICROSOFT 365 HOME/STUDENT</h1>
                <p>The <span> Microsoft 365 Home/Student</span> 1 PC/Mac 2021</p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (6).jfif" alt="">
            <div class="intro">
                <h1>MICROSOFT 365</h1>
                <p>The <span>Microsoft 365 family</span> 1 to 6 people 12 month subscription</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (7).jfif">
            <div class="intro">
                <h1>MICROSOFT HOME AND BUSINESS</h1>
                <p>The <span>Microsoft Home and Business</span> for 1PC/Mac 2021 </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (8).jfif">
            <div class="intro">
                <h1>MICROSOFT 365 PERSONAL</h1>
                <p>The <span>Microsoft 365 Personal</span> 1 Person 12 month subscription </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (9).jfif">
            <div class="intro">
                <h1>MICROSOFT 365 HOME/STUDENT</h1>
                <p>The <span> Microsoft 365 Home/Student</span> 1 PC/Mac 2021</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (6).jfif" alt="">
            <div class="intro">
                <h1>MICROSOFT 365</h1>
                <p>The <span>Microsoft 365 family</span> 1 to 6 people 12 month subscription</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (7).jfif">
            <div class="intro">
                <h1>MICROSOFT HOME AND BUSINESS</h1>
                <p>The <span>Microsoft Home and Business</span> for 1PC/Mac 2021 </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (8).jfif">
            <div class="intro">
                <h1>MICROSOFT 365 PERSONAL</h1>
                <p>The <span>Microsoft 365 Personal</span> 1 Person 12 month subscription </p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\software\Default-Product-Default-WF-null (9).jfif">
            <div class="intro">
                <h1>MICROSOFT 365 HOME/STUDENT</h1>
                <p>The <span> Microsoft 365 Home/Student</span> 1 PC/Mac 2021</p>
            </div>
        </div>
    </div>

    <footer>

        <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

    </footer>

</body>

</html>