<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modems</title>

</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="new_customer.html">New_Customer</a></li>
    <li style="float: right"><a class="active" href="login.html">Login</a></li>
    <link rel="stylesheet" href="..\style.css" />
    <link rel="stylesheet" href="..\monitors.css" />
</ul>

<body>
    <div class="container">
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (18).jfif" alt="">
            <div class="intro">
                <h1>JVC</h1>
                <p>The <span>JVC</span> 10' tablet</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (14).jfif">
            <div class="intro">
                <h1>SAMSUNG</h1>
                <p>The <span>SAMSUNG</span> Galaxy A9 Tab</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (15).jfif">
            <div class="intro">
                <h1>HISENSE</h1>
                <p>The <span>Hisense</span> 7' tablet</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (16).jfif">
            <div class="intro">
                <h1>APPLE</h1>
                <p>The <span>Apple Ipad</span> 10.2' WiFi 128GB </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (18).jfif" alt="">
            <div class="intro">
                <h1>JVC</h1>
                <p>The <span>JVC</span> 10' tablet</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (14).jfif">
            <div class="intro">
                <h1>SAMSUNG</h1>
                <p>The <span>SAMSUNG</span> Galaxy A9 Tab</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (15).jfif">
            <div class="intro">
                <h1>HISENSE</h1>
                <p>The <span>Hisense</span> 7' tablet</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (16).jfif">
            <div class="intro">
                <h1>APPLE</h1>
                <p>The <span>Apple Ipad</span> 10.2' WiFi 128GB </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (18).jfif" alt="">
            <div class="intro">
                <h1>JVC</h1>
                <p>The <span>JVC</span> 10' tablet</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (14).jfif">
            <div class="intro">
                <h1>SAMSUNG</h1>
                <p>The <span>SAMSUNG</span> Galaxy A9 Tab</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (15).jfif">
            <div class="intro">
                <h1>HISENSE</h1>
                <p>The <span>Hisense</span> 7' tablet</p>
            </div>
        </div>
        <div class="card">
            <img src="..\images\tablets\Default-Product-Default-WF-null (16).jfif">
            <div class="intro">
                <h1>APPLE</h1>
                <p>The <span>Apple Ipad</span> 10.2' WiFi 128GB </p>
            </div>
        </div>
    </div>

    <footer>

        <p>Copyright&copy;2023 EcomApp store designed by CyberGurus</p>

    </footer>

</body>

</html>